# Created by https://www.gitignore.io/api/osx,node,linux,windows

### Linux ###
*~
.node_modules
.idea

packaged.yaml

build
dist

node_modules/

/libs/**/*.js
/libs/**/*.js.map
/libs/cucumber_report.json

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.*
!.env.template
bin/
lib/
pyvenv.cfg
### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# logs
*.log

deploy.*.sh

# imagen
*.png
